
html,body, .container-fluid{
  background-color: #e1f2fb;
}
h1{
  background-color:#e1f2fb;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 5%;
}
.col{
  text-align: center;
}
.col1{
  max-width: 10%;
}
.col2{
  max-width:40%;
}
.col3{
  max-width: 50%;
}
